.queue-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #f8f0dd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .queue-box {
    background-color: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    width: 80%;
    max-width: 300px;
  }
  
  .queue-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }
  
  .queue-number {
    font-size: 2rem;
    font-weight: bold;
    color: #DE9F6A;
    margin-bottom: 20px;
  }
  
  .return-btn {
    background-color: #DE9F6A;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .return-btn:hover {
    background-color: #c88d55;
  }
  