<div class="item-page">
    <div class="item-image">
        <button class="back-btn" onclick="history.back()">
            &#8592; <!-- ← Unicode left arrow -->
        </button>
        <img [src]="menuItem.image_url"  alt="Cinnamon Rolls" />
    </div>
  
    <div class="item-details">
      <h3>{{menuItem.name||''}}</h3>
      <p>{{menuItem.description||''}}</p>
  
      <div class="options">
        <h4>Options 1</h4>
        <label><input type="checkbox" /> Lorem ipsum dolor sit amet, consectetur</label>
        <label><input type="checkbox" /> Lorem ipsum dolor sit amet, consectetur</label>
  
        <h4>Options 2</h4>
        <label><input type="checkbox" /> Lorem ipsum dolor sit amet, consectetur</label>
        <label><input type="checkbox" /> Lorem ipsum dolor sit amet, consectetur</label>
      </div>

      <div class="action-bar">
        <button class="qty-btn" (click)="calcTotal('-')" [disabled]="totalItem <= 1">−</button>
        <span class="qty">{{totalItem}}</span>
        <button class="qty-btn" (click)="calcTotal('+')">+</button>
        <button class="add-cart-btn" (click)="toMenu(1)">Add to Cart</button>
        <span class="price">{{totalPrice}} Baht</span>
      </div>
    </div>
  </div>
  